$color-1: #219BFF; // Nav blue
$color-2: #244B6B; // dark blue
$color-4: #ffffff; // white
$color-5: #51687A; // Font grey

//making grid
//1 column grid

.col-1 {
    display: grid;
    grid-template-columns: auto;
}

//3 clumn grid

.col-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}