body {
  margin: 0; }

a {
  text-decoration: underline;
  color: #244B6B; }

h1, h2, h3, h4 {
  color: #244B6B; }

a:hover {
  color: #219BFF; }

p {
  color: #51687A; }

.wrap {
  min-height: 100vh;
  margin: 0; }

.col-1 {
  display: grid;
  grid-template-columns: auto; }

.col-3 {
  display: grid;
  grid-template-columns: 0fr 3fr 0fr;
  padding: 10px; }

.navBar, .footerBar {
  margin-top: 0;
  background-color: #219BFF;
  padding: 10px; }
  .navBar a, .footerBar a {
    text-decoration: none;
    color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 5px;
    padding: 5px; }
  .navBar a:hover, .footerBar a:hover {
    background-color: #ffffff;
    color: #219BFF; }

.sec-1 h1 {
  margin-bottom: 0px;
  margin-top: 5px; }
.sec-1 h1#link:hover {
  color: #219BFF; }
.sec-1 h5 {
  margin-top: 3px;
  margin-bottom: 0px; }
.sec-1 p {
  margin-bottom: 0px;
  margin-top: 5px; }
.sec-1 li {
  color: #51687A; }

.footerBar {
  margin-bottom: 0; }
  .footerBar p {
    color: #ffffff;
    margin: 0; }
  .footerBar a {
    display: inline-block;
    margin-left: 5px; }

.storyTools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin-bottom: 5px;
  margin-top: 5px; }

.part-2 button {
  color: #ffffff;
  background-color: #219BFF;
  border-radius: 5px; }

.part-2 button:hover {
  color: #219BFF;
  background-color: #ffffff; }

#story_editor {
  width: 100%;
  height: 100px; }

@media only screen and (min-width: 600px) {
  .col-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px; } }
header {
  display: grid;
  padding: 10px;
  background-color: #219BFF; }
  header form {
    float: right; }

input, button {
  border: 1.5px solid #51687A;
  border-radius: 5px; }

button {
  background-color: #219BFF;
  color: #ffffff; }

.completed {
  text-decoration: line-through; }

.to-do-input-bar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .to-do-input-bar input {
    width: 100%; }

.table-output tbody tr {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr; }

.additionaBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

div.special {
  padding: 0px; }

/* CSS Rules for the container */
.curtain {
  /* Ensures the component is the full screen width */
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  /* Allows us to slide the panels outside the container without them showing */
  overflow: hidden; }

.curtain__wrapper {
  /* Ensures the component is the full screen width */
  width: 100%;
  height: 100%; }

/* CSS Rules for both panels */
.curtain__panel {
  background: #219BFF;
  /* Each panel takes up half the container */
  width: 50%;
  height: 100vh;
  /* Makes sure panels are side-by-side */
  float: left;
  position: relative;
  /* Places the panels in front of the prize */
  z-index: 2;
  transition: all 1s ease-out;
  /* Animates the sliding transition */ }

.curtain__prize {
  /* Forces the prize position into the container start */
  position: absolute;
  /* Places the prize behind the panels, which are z-index 2 */
  z-index: 1;
  width: 59%;
  height: 100%;
  text-align: center; }
  .curtain__prize img {
    margin-top: 5%;
    width: 5%; }

/* Making the panel clickable by using a checkbox */
input[type=checkbox] {
  position: absolute;
  /* Force the checkbox at the start of the container */
  cursor: pointer;
  /* Indicate the curtain is clickable */
  width: 59%;
  /* The checkbox is as big as the component */
  height: 100%;
  z-index: 100;
  /* Make sure the checkbox is on top of everything else */
  opacity: 0;
  /* Hide the checkbox */ }

/* When the checkbox is checked... */
/* Slide the first panel in */
input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0); }

/* Slide the second panel in */
input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0); }

/* Slide the panels when hover*/
input[type=checkbox]:hover:checked ~ div.curtain__panel--left {
  transform: translateX(-1%); }

input[type=checkbox]:hover:checked ~ div.curtain__panel--right {
  transform: translateX(1%); }

/* Slide the panel to the left out of the container */
.curtain__panel--left {
  transform: translateX(-100%);
  text-align: right; }

/* Slide the panel to the right out of the container */
.curtain__panel--right {
  transform: translateX(100%); }

.panel_txt {
  color: #ffffff; }

@keyframes orbit {
  0% {
    transform: translate(0, 0); }
  5% {
    transform: translate(0, 0); }
  /* don't change for 5% of the time...pause */
  25% {
    transform: translate(300%, 0%); }
  /* start moving again */
  30% {
    transform: translate(300%, 0%); }
  /* pause */
  50% {
    transform: translate(300%, 300%); }
  /* move */
  55% {
    transform: translate(300%, 300%); }
  75% {
    transform: translate(0%, 300%); }
  80% {
    transform: translate(0%, 300%); }
  100% {
    transform: translate(0%, 0%); } }
@keyframes morphing-circle-square {
  0% {
    border-radius: 50%; }
  25% {
    /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
    border-radius: 50%;
    background-color: darkred; }
  50% {
    /* now change to white square...but don't start rotating yet! */
    border-radius: 0%;
    background-color: white;
    transform: rotate(0deg); }
  75% {
    /* stay a white square, but rotate 90deg */
    border-radius: 0%;
    background-color: white;
    transform: rotate(90deg); }
  100% {
    /* stay rotated at 90, but change back to a circle */
    border-radius: 50%;
    background-color: darkred;
    transform: rotate(90deg); } }
@keyframes slide-left {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(-50%, 0); }
  50% {
    transform: translate(-50%, 0); }
  75% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes slide-right {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(50%, 0); }
  50% {
    transform: translate(50%, 0); }
  75% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes bigger {
  to {
    height: 30%;
    width: 30%;
    left: 0; } }
.animations {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px; }

.container {
  height: 25vmin;
  background-color: teal; }

.orbiting-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  animation: orbit 3s linear infinite; }

.container-two, .container-three, .container-four {
  display: flex;
  justify-content: center;
  align-items: center; }

.morphing-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  animation: morphing-circle-square 3s linear infinite; }

.splitting-circle-right, .splitting-circle-left {
  height: 25%;
  width: 12.5%;
  background: darkred; }

.splitting-circle-right {
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  animation: slide-right 3s linear infinite; }

.splitting-circle-left {
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  animation: slide-left 3s linear infinite; }

.big-smal-circle {
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  animation: bigger 0.5s 1s infinite; }

/*# sourceMappingURL=Style.css.map */
