$color-1: #219BFF; // Nav blue
$color-2: #244B6B; // dark blue
$color-4: #ffffff; // white
$color-5: #51687A; // Font grey

body {
    margin: 0;
}

a{
    text-decoration: underline;
    color: $color-2;
}

h1,h2,h3,h4{
    color: $color-2;
}

a:hover {
    color: $color-1;
}

p {
    color: $color-5;
}

.wrap {
    min-height: 100vh;
    margin: 0;
}



//making grid
//1 column grid

.col-1 {
    display: grid;
    grid-template-columns: auto;
}

//3 clumn grid

.col-3 {
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
    padding: 10px;
}

//Navbar elements
.navBar, .footerBar {
    margin-top: 0;
    background-color: $color-1;
    padding: 10px;
    a {
        text-decoration: none;
        color: $color-4;
        border: $color-4 solid 1px;
        border-radius: 5px;
        padding: 5px;
    }
    a:hover {
        background-color: $color-4;
        color: $color-1;
    }
}

//Body elements
//mainBody

//First section
.sec-1{
    h1 {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    h1#link:hover{
        color: $color-1;
    }
    h5{
        margin-top: 3px;
        margin-bottom: 0px;
    }
    p {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    li{
        color: $color-5;
    }
}


//Footer

.footerBar {
    p{
        color: $color-4;
        margin: 0;
    }
    margin-bottom: 0;
    a {
        display: inline-block;
        margin-left: 5px;
    }
}


//Week 1 pers

.storyTools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.part-2 button {
    color: $color-4;
    background-color: $color-1;
    border-radius: 5px;
}

.part-2 button:hover {
    color: $color-1;
    background-color: $color-4;
}
#story_editor {
    width: 100%;
    height: 100px;
}




//To Do
header {
    display: grid;
    padding: 10px;
    background-color: $color-1;
    form {
        float: right;
    }
}
input, button {
    border: 1.5px solid $color-5;
    border-radius: 5px;
}

button {
    background-color: $color-1;
    color: $color-4;
}
.completed{text-decoration: line-through;}

.to-do-input-bar {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    input {
        width: 100%;
    }
}

.table-output tbody tr {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.additionaBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.special {
    padding: 0px;
}

//week 8

/* CSS Rules for the container */
.curtain {
    /* Ensures the component is the full screen width */
    margin: 0 auto;
    width: 100%; 
    height: 100vh;
    /* Allows us to slide the panels outside the container without them showing */
    overflow: hidden;
  }
  
  .curtain__wrapper {
    /* Ensures the component is the full screen width */
    width: 100%;
    height: 100%;
  }
  
  /* CSS Rules for both panels */
  .curtain__panel {
    background: $color-1;
    /* Each panel takes up half the container */
    width: 50%;
    height: 100vh;
    /* Makes sure panels are side-by-side */
    float: left; 
    position: relative;
    /* Places the panels in front of the prize */
    z-index: 2; 
    transition: all 1s ease-out; /* Animates the sliding transition */
  }
  
  .curtain__prize {
    /* Forces the prize position into the container start */
    position: absolute; 
    /* Places the prize behind the panels, which are z-index 2 */
    z-index: 1; 
    width: 59%;
    height: 100%;
    text-align: center;
    
    img{
      margin-top:5%;
      width:5%;
    }
  }
  
  /* Making the panel clickable by using a checkbox */
  input[type=checkbox] {
    position: absolute; /* Force the checkbox at the start of the container */
    cursor: pointer; /* Indicate the curtain is clickable */
    width: 59%; /* The checkbox is as big as the component */
    height: 100%;
    z-index: 100; /* Make sure the checkbox is on top of everything else */
    opacity: 0; /* Hide the checkbox */
  }
  
  /* When the checkbox is checked... */   
  /* Slide the first panel in */
  
  input[type=checkbox]:checked ~ div.curtain__panel--left {
    transform: translateX(0);
  }
          
  /* Slide the second panel in */
  input[type=checkbox]:checked ~ div.curtain__panel--right {
    transform: translateX(0);
  }
  
  /* Slide the panels when hover*/
  
  input[type=checkbox]:hover:checked ~ div.curtain__panel--left {
    transform: translateX(-1%);
  }
  
  input[type=checkbox]:hover:checked ~ div.curtain__panel--right {
    transform: translateX(1%);
  }
  
  /* Slide the panel to the left out of the container */
  .curtain__panel--left {
    transform: translateX(-100%);
    text-align: right;
  }
  
  /* Slide the panel to the right out of the container */
  .curtain__panel--right {
    transform: translateX(100%);
  }

  .panel_txt {
      color: $color-4;
  }

  //animations fraction

  @keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } /* don't change for 5% of the time...pause */
    25% { transform: translate(300%,0%); } /* start moving again */
    30% { transform: translate(300%,0%); } /* pause */
    50% { transform: translate(300%,300%); } /* move */
    55% { transform: translate(300%,300%); }
    75% { transform: translate(0%,300%); }
    80% { transform: translate(0%,300%); }
    100% { transform: translate(0%,0%); }
}

@keyframes morphing-circle-square {
    0% {border-radius: 50%}
    25% { /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
        border-radius: 50%;
        background-color: darkred;
    }
    50% { /* now change to white square...but don't start rotating yet! */
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);
    }
    75% { /* stay a white square, but rotate 90deg */
        border-radius: 0%;
        background-color: white;
        transform: rotate(90deg);   
    }
    100% { /* stay rotated at 90, but change back to a circle */
        border-radius: 50%;
        background-color: darkred;
        transform: rotate(90deg);
    }
}

@keyframes slide-left {
  0% { transform: translate(0,0); }
  25% { transform: translate(-50%, 0);}
  50% { transform: translate(-50%, 0);}
  75% { transform: translate(0, 0);}
  100% { transform: translate(0, 0);}
}

@keyframes slide-right {
  0% { transform: translate(0,0); }
  25% { transform: translate(50%, 0);}
  50% { transform: translate(50%, 0);}
  75% { transform: translate(0, 0);}
  100% { transform: translate(0, 0);}
}

@keyframes bigger {
  to{
    height: 30%;
    width: 30%;
    left: 0;
  }
}

.animations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.container {
    height: 25vmin;
    background-color: teal;
}

.orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
}

.container-two, .container-three, .container-four{
	display: flex;
	justify-content: center;
	align-items: center;
}

.morphing-circle {
    height: 25%;
    width: 25%;
    background-color:darkred;	
    border-radius: 50%;
    animation: morphing-circle-square 3s linear infinite;
}

.splitting-circle-right, .splitting-circle-left {
  height: 12.5% * 2;
  width: 12.5%;
  background: darkred;
}

.splitting-circle-right {
  border-bottom-right-radius: 100px * 2;
  border-top-right-radius: 100px * 2;
  animation: slide-right 3s linear infinite;
}

.splitting-circle-left {
  border-bottom-left-radius: 100px * 2;
  border-top-left-radius: 100px * 2;
  animation: slide-left 3s linear infinite;
}

.big-smal-circle{
  height: 25%;
  width: 25%;
  background-color:darkred;	
  border-radius: 50%;
  animation: bigger 0.5s 1s infinite;
}

//week 9

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  //Final Challenge

  #addVerses:valid {
    border-color: green;
  }

  #addVerses:invalid {
    border-color: red;
  }
  
  .form input {
    border: 2px solid black;
  }

  table input[type=checkbox] {
    width: auto;
    height: auto;
    position: relative;
    opacity: unset;
  }

  .form div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 5px;
    input {
      width: inherit;
    }
  }

  .scripture-input-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

thead tr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

#addedScriptureList tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  td button{
    width: 100%;
  }
  #checkbox {
    text-align: center;
  }
}

//Large screen
@media only screen and (min-width: 600px) {
  .col-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px;
  }
  .scripture-input-bar {
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}